<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SMK_NUSANTARA_INFORMATION.My.MySettings.DB_SMKNusantaraConnectionString" connectionString="Data Source=DESKTOP-D5OLT2H\SQLEXPRESS;Initial Catalog=DB_SMKNusantara;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>
